{% extends "index.html" %}
{% block form %}
<p>
<strong>Czym właściwie jest programowanie</strong>

No to zaczynamy. Programowanie to nic innego jak ciekawe zajęcie.
To ciągłe rozwiązywanie zagadek i problemów w kreatywny sposób.
To też żmudna i pracochłonna praca wymagająca zaangażowania i ciągłej nauki. 
Mimo swoich wad zajmuję się tym od ładnych paru lat, moim zdaniem zalet jest znacznie więcej! 
W artykułach na tym blogu postaram się przeprowadzić Cię przez początki programowania, 
zarazić Cię tą pasją. Miejmy nadzieję, że mi się to uda :).
</p>
{% endblock%}