{% extends "base.html" %}

{% block nav %}
    <a class="nav_menu" href='/logged'>{{firstName}} {{lastName}}</a>
    <i class="fas fa-bars hamburger"></i>
    <ul class='menu_items'>
        <li class='item'><a href='/'>Mój profil</a></li>
        <li class='item'><a href='/logged'>Wyloguj</a></li>
    </ul>
{% endblock %}
{% block content %}
<h4>
    "A bug is never just a mistake. It represents something bigger. An error of thinking. That makes You who You are."
Elliot Alderson
</h4>
{% endblock %}