{% extends "base.html" %}

{% block nav %}
    <nav class="navbar_log">
        <a class="nav_menu" href='/admin'>ADMIN {{firstName}} {{lastName}}</a>
        <i class="fas fa-bars"></i>
        <ul class='menu_items' style="display: none;">
            <li class='item'><a href='/admin'>Mój profil</a></li>
            <li class='item'><a href='/logout'>Wyloguj</a></li>
        </ul>
    </nav>
{% endblock %}
{% block sidebar %}
    <a href="/admin/users_management/">  Użytkownicy</a>
    <a href="/admin/courses/">Kursy</a> 
    <a href="/admin/createcourse/">Utwórz kurs</a>
    <a href="/admin/creategroup/">Utwórz grupę</a>
    <a href="/admin/createlessons/">Utwórz lekcje</a>
    <a href="/grades">Content</a>
{% endblock %}
{% block content %}
<h2>
    THIS IS THE ADMIN CITE 

</h2>
{% endblock %}