{% extends "base.html" %}

{% block nav %}
    <nav class="navbar_log">
        <a class="nav_menu" href='/admin'>{{firstName}} {{lastName}}</a>
        <i class="fas fa-bars"></i>
        <ul class='menu_items' style="display: none;">
            <li class='item'><a href='/admin'>Mój profil</a></li>
            <li class='item'><a href='/logout'>Wyloguj</a></li>
        </ul>
    </nav>
{% endblock %}
{% block sidebar %}
    <a class='nav_item' href="/admin/news/">Aktualności</a>
    <a class='nav_item' href="/admin/users_management/">Użytkownicy</a>
    <a class='nav_item' href="/admin/courses/">Kursy</a> 
    <a class='nav_item' href="/admin/createcourse/">Utwórz kurs</a>
    <a class='nav_item' href="/admin/creategroup/">Utwórz grupę</a>
    <a class='nav_item' href="/admin/createlessons/">Utwórz lekcje</a>
{% endblock %}
{% block content %}

{% endblock %}