<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<title>akademia programowania</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:900i&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <h1 class="title">akademia programowania</h1>
            <nav class="navbar">
                {% block nav %}
                <a class="nav_item" href='login'>Zaloguj</a>
                <a class="nav_item" href='register'>Zarejestruj się</a>
                {% endblock %}
            </nav>
    </header>
    <main>
        <div class="container">
            <div class="content">
                {% block content %} 
                <h1>Zapisz się na zajęcia</h1>
                <div class='containerImg'>
                    <img src='./static/img/programing.jpg' alt='Osoba pisząca kod na laptopie'>
                </div> 
                <p class="indexText">
                    Zacznij programować z akademią programowania. Jesteśmy największą szkołą programowania w polsce.
                    Oferujemy naukę wielu języków programowania w różnych stopniach zaawansowania. Z nami zostaniesz programistą w pół roku.
                    Zarejestruj się i zapisz do wybranej grupy. Nie zwlekaj.
                </p>
                {% endblock %}
                {% block form %}
                {% endblock %}
                {% block statement %}
                {% endblock %}
            
            </div>
        
        </div>
        
        
    </main> 
    
<footer><p>© 2019 Akademia programowania</p></footer>  
</body>
</html>