{% extends "student_view.html" %}
{% block content %}
    
        {% for message in lists %}
            <a href = "{{ '/student/message/%s'%message.messageId }}" method = "GET">
                <div class="message">
                    <div class="messageTitle"><p><b>Tytuł wiadomości:</b> {{ message.title }}</p></div>
                    <div class="messageAuthor"><p><b>Autor:</b> {{ message.author }}</p></div>
                    <div class="messageDate"><p><b>Data:</b> {{ message.date }}</p></div>
                </div>
            </a>
        {% endfor %}
    
{% endblock %}