{% extends "index.html" %}
{% block nav %}
<a class="nav_item" href='/'>Powrót</a>
{% endblock %}
{% block form %}
<form action='/register/' method="POST"> 
    <label>First name: <input type='text' name='fname' required></label>
    <label>Last name: <input type='text' name='lname' required></label>
    <label>Email: <input type='email' name='email' required></label>
    <label>Password: <input type='password' name='password' required></label>
    <label><input type="checkbox" required> Akceptuje regulamin</label>
    <div><input class="redButton" type='submit' value='Submit'></div>
</form>
{% endblock%}
{% block content %} 
{% endblock%}