{% extends "teacher_view.html" %}
{% block content %}
<form action='/message/' method='POST'>
    <p>Wybierz grupę, której chcesz wysłać wiadomość</p>
    <select name="groupId">
        {% for group in groups %}
        <option value="{{ group.groupId }}">{{ group.subject_name }}  Grupa numer: {{ group.groupId}}</option>
        {% endfor %}
    </select>
    <label>Tytuł: <input type='text' name='title' required></label>
    <textarea name="message"></textarea>
    <button type="submit" class="redButton">Wyślij</button>
</form>
{% endblock %}